hr{
    border-style: dashed;
    color: black; 
}
body{
    font-family: "cursive";
    size: 20px;
}
div.exp1{
    position: relative;
    left: 100px;
}
div.name{
    position: relative;
    left: 200;
}